<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Missions To Mars</title>
</head>
<body class="home-page">
  <h1>Missions To Mars</h1>

  <a href="/missions">Enter</a>
</body>
</html>