<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Missions to Mars</title>
</head>
<body>
  <h1>Missions to Mars</h1>

  <ul class="missions">

  <% for (let i = 0; i < marsMission.length; i++) { %>
      <% const path = `/missions/${i}`; %>
      <li><a href="<%= path %>"><%= marsMission[i].name %></a></li>
  <% } %>

  </ul>

</body>
</html>