<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Missions to Mars</title>
</head>
<body>
  
  <p><%= mission.name %></p>
  <p><%= mission.launchDate %></p>
  <p><%= mission.operator %></p>
  <p><%= mission.missionType %></p>

</body>
</html>